<div class="container-fluid" style="border:0px; padding:0px;">
  <div class="col-md-10 col-md-offset-2" style="padding:0px;">

  <div class="banner" id="home">
    <div class="banner-content">
      <div class='opening-text'>
        Thomas Jung
               <%= link_to "https://www.linkedin.com/in/thomasjungsec" do %>
                  <i class="fa fa-linkedin fa" style="background-color: white; color: #093954; padding:10px 15px 10px 15px; font-size: 25px; border-radius: 5px; margin-left:20px;"></i>
                <% end %>
      </div>

      <div class="sub-opening-text">
      </br>
      
      <hr> 
        <div style="background-color:#eee; color: black; padding: 30px 30px 30px 30px;">
          <i>Information Systems & Network Security</br>Visionary Entrepreneur</br>Cybersecurity Specialist</i>
        </div>
      </div>
    </div>
  </div>

  <!-- about section-->
                                                      
 <!--  <div id="about" class="container-fluid">
    <div class="row">

      <div class="col-md-11 col-md-offset-1" id="main-about">
        <div class="panel panel-default" style="border-radius:0px; border: 0px;">
          
          <div class="panel-heading" style="background-color: #093954;color:white; border-radius:0px;">Highlighted Accomplishments</div>
          
          <ul class="list-group">
            <li class="list-group-item">1st Place - Hack for the Homeland - Sponsored by Dept. of Homeland Security S&T and CIT</li>
            <li class="list-group-item">Founder & President, Dashin, Inc., invited to join Homeland Security S&T EMERGE Program</li>
            <li class="list-group-item">Best Buddy of the Year - Vanderbilt Chapter</li>
          </ul>
        </div>
</br>
        <div class="panel panel-default" style="border-radius:0px; border: 0px;">
          
          <div class="panel-heading" style="background-color: #093954;color:white; border-color: #093954; border-radius:0px;">Specialties & Core Competencies</div>
         
          <ul class="list-group">
            <li class="list-group-item">Network Security | Data Security | Information Security | Penetration Testing and Ethical Hacking | Security
            Analysis & Assessments | Post Exploitation Hacking | Malware Analysis and Reverse Engineering |
            Cryptography | Computer and Hacking Forensics | WebApps | Social Engineering and Manipulation | Vulnerability
            Discovery/Scanning | Fuzzing | Advanced Data Protection (Virtualization) | Sandbox Methods | Security Audits</li>
          </ul>
        </div>


      </div>
    </div>
  </div> -->

  <!-- contact section -->


  <div id="contact" class="container-fluid">
    <div class="row">

      <div id="headshot" class="col-md-6">
        <div id="headshot-container">

        </div>
      </div>

      <div id="contact-container" class="col-md-6">
          <div id="contact-info">

              <p>Thomas Jung</p>
              <hr>
              </br>
              <p>Cybersecurity Professional</p>
              <hr>
              </br>
              <p>thomas@jung.tech</p>
              <p>972-765-6092</p>

          </div>
      </div>

  </div>

</div>

</div>