<div class="container-fluid" style="border:0px; padding:0px;">
  <div class="col-md-10 col-md-offset-2" style="padding:0px;">

  <div class="banner" id="home">
    <div class="banner-content">
      <div class='opening-text'>
        Thomas Jung
               <%= link_to "https://www.linkedin.com/in/thomasjungsec" do %>
                  <i class="fa fa-linkedin fa" style="background-color: white; color: #093954; padding:10px 15px 10px 15px; font-size: 25px; border-radius: 5px; margin-left:20px;"></i>
                <% end %>
      </div>

      <div class="sub-opening-text">
      </br>
      
      <hr> 
        <div style="background-color:#eee; color: black; padding: 30px 30px 30px 30px; border-radius:2px;">
          <i>Information Systems & Network Security</br>Visionary Entrepreneur</br>Cybersecurity Specialist</i>
        </div>
      </br>
      </br>
        <a href="mailto:me@domain.com" class='btn btn-lg' style="background-color: transparent; border-color: white; color:white; border-radius:2px;">Request CV</a>
         
      </div>
    </div>
  </div>

  <!-- about section-->                                           

  <div id="about" class="container-fluid">
    <div class="col-md-10 col-md-offset-2" style="padding:0px;">
      <div class="row">
        <div id="main-about">
          <h1 style="color: white;">About Me:</h1></br>
          <div style="background-color:#eee; color: black; padding: 30px 30px 30px 30px; border-radius:2px;">
            <p>I am an autodidactic information security engineer specialist with 10+ years of hands-on practical experience in managing, troubleshooting and implementing security for data and network systems. 
            </p>  
            <p>I have an acumen for staying ahead of potential threats by understanding emerging risks and developing proactive measures. 
            </p>
            <p>Possessing an innate ability to build and sustain professional relations, I have consistently fostered excellent team collaborations based on mutual trust in sensitive information environments.    
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div id="accomplishments" class="container-fluid">
    <div class="row">

      <div class="col-md-11 col-md-offset-1" id="main-about">
        <h1 style="color: black;">Accomplishments & Specialties:</h1></br>
        <div class="panel panel-default" style="border-radius:0px; border: 0px;">
          
          <div class="panel-heading" style="background-color: #093954; color:white; border-radius:2px; border-color: #093954;">Highlighted Accomplishments</div>
          
          <ul class="list-group">
            <li class="list-group-item" style="background-color: #222222; color: white;">1st Place - Hack for the Homeland - Sponsored by Dept. of Homeland Security S&T and CIT</li>
            <li class="list-group-item" style="background-color: #222222; color: white;">Founder & President, Dashin, Inc., invited to join Homeland Security S&T EMERGE Program</li>
            <li class="list-group-item" style="background-color: #222222; color: white;">Best Buddy of the Year - Vanderbilt Chapter</li>
          </ul>
        </div>
</br>
        <div class="panel panel-default" style="border-radius:0px; border: 0px;">
          
          <div class="panel-heading" style="background-color: #093954;color:white; border-color: #093954; border-radius:2px; border-color: #093954;">Specialties & Core Competencies</div>
         
          <ul class="list-group">
            <li class="list-group-item" style="background-color: #222222; color: white;">Network Security | Data Security | Information Security | Penetration Testing and Ethical Hacking | Security
            Analysis & Assessments | Post Exploitation Hacking | Malware Analysis and Reverse Engineering |
            Cryptography | Computer and Hacking Forensics | WebApps | Social Engineering and Manipulation | Vulnerability
            Discovery/Scanning | Fuzzing | Advanced Data Protection (Virtualization) | Sandbox Methods | Security Audits</li>
          </ul>
        </div>


      </div>
    </div>
  </div>


  <div id="contact" class="container-fluid">
    <div class="row">

      <div id="headshot" class="col-md-6">
        <div id="headshot-container">

        </div>
      </div>

      <div id="contact-container" class="col-md-6" style="border-radius:2px;">
          <div id="contact-info" style="border-radius:2px;">

              <p>Thomas Jung</p>
              <hr>
              </br>
              <p>Cybersecurity Professional</p>
              <hr>
              </br>
              <p>thomas@jung.tech</p>
              <p>972-765-6092</p>

          </div>
      </div>

  </div>

</div>

</div>