<div class="container-fluid" style="border:0px; padding:0px;">
  <div class="col-md-10 col-md-offset-2" style="padding:0px;">
        
        <div class="homepage-hero-module banner" id="home">
          <div class="video-container">
              <div class="filter">
                <div class='opening-text' style="font-family: 'Orbitron', sans-serif; color: white;">
                  <div class="pull-right" style="font-size:14px; color:white; padding-right: 120px;"><%= link_to "thomasjung.net", "http://www.thomasjung.net", style: 'color:white;' %></div>
                  <a href="https://www.linkedin.com/in/thomasjungsec" class='btn btn-lg' style="background-color: transparent; border-color: white; color:white; border-radius:2px;"><i class="fa fa-linkedin fa"></i></a>
                  <a href="https://www.linkedin.com/in/thomasjungsec" class='btn btn-lg' style="background-color: transparent; border-color: white; color:white; border-radius:2px;"><i class="fa fa-twitter fa"></i></a>
                                    <a href="https://www.linkedin.com/in/thomasjungsec" class='btn btn-lg' style="background-color: transparent; border-color: white; color:white; border-radius:2px;"><i class="fa fa-instagram fa"></i></a>
                  <hr style="text-align:left; margin-left:0px; margin-right: 120px;"> 
                </br>
              
                  <p style="font-size:50px; text-shadow: 2px 2px black;">Thomas Jung</p>
                  <p style="font-size:26px; color:#25b5f1; text-shadow: 2px 2px black;">
                    <i>Information Systems & Network Security</br>Visionary Entrepreneur</br>Cybersecurity Specialist</i>
                  </p>
                  <a href="mailto:me@thomasjung.net" class='btn btn-lg' style="background-color: transparent; border: 1px solid #999999; color:white; border-radius:2px;">Request CV</a>
                  
                </div>
               
                <div class="sub-opening-text">
                  </br>
                  <hr style="text-align:left; margin-left:0px; margin-right: 120px; padding-top: 20px;"> 
                   <div style="padding-top:25px;padding-bottom:32px;"> 
                    <p style="font-size:14px; color: white;"><span style="padding-right:35px;"><i class="fa fa-map-marker" style="padding-right:5px;"></i> Dallas/Fort Worth, Texas USA</span><span style="padding-right:35px;"><i class="fa fa-comment" style="padding-right:5px;"></i> connect@thomasjung.net</span><span style="padding-right:35px;"><i class="fa fa-phone" style="padding-right:5px;"></i> +1 (646) 480-XXXX</span></p>
                   </div>
                </div>
              </div>

              <video autoplay loop class="fillWidth">
                  <source src="assets/Big-City-Life.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                  <source src="assets/Big-City-Life.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
              </video>
              <div class="poster hidden">
                  <img src="assets/Big-City-Life.jpg" alt="">
              </div>
          </div>
        </div>

    </div>
  </div>

  <!-- about section-->                                           

  <!-- <div id="about" class="container-fluid">
    <div class="col-md-10 col-md-offset-2" style="padding:0px;">
      <div class="row">
        <div id="main-about">
          <h1 style="color: white;">About Me:</h1></br>
          <div style="background-color:#eee; color: black; padding: 30px 30px 30px 30px; border-radius:2px;">
            <p>I am an autodidactic information security engineer specialist with 10+ years of hands-on practical experience in managing, troubleshooting and implementing security for data and network systems. 
            </p>  
            <p>I have an acumen for staying ahead of potential threats by understanding emerging risks and developing proactive measures. 
            </p>
            <p>Possessing an innate ability to build and sustain professional relations, I have consistently fostered excellent team collaborations based on mutual trust in sensitive information environments.    
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div id="accomplishments" class="container-fluid">
    <div class="row">

      <div class="col-md-11 col-md-offset-1" id="main-about">
        <h1 style="color: black;">Accomplishments & Specialties:</h1></br>
        <div class="panel panel-default" style="border-radius:0px; border: 0px;">
          
          <div class="panel-heading" style="background-color: #093954; color:white; border-radius:2px; border-color: #093954;">Highlighted Accomplishments</div>
          
          <ul class="list-group">
            <li class="list-group-item" style="background-color: #222222; color: white;">1st Place - Hack for the Homeland - Sponsored by Dept. of Homeland Security S&T and CIT</li>
            <li class="list-group-item" style="background-color: #222222; color: white;">Founder & President, Dashin, Inc., invited to join Homeland Security S&T EMERGE Program</li>
            <li class="list-group-item" style="background-color: #222222; color: white;">Best Buddy of the Year - Vanderbilt Chapter</li>
          </ul>
        </div>
</br>
        <div class="panel panel-default" style="border-radius:0px; border: 0px;">
          
          <div class="panel-heading" style="background-color: #093954;color:white; border-color: #093954; border-radius:2px; border-color: #093954;">Specialties & Core Competencies</div>
         
          <ul class="list-group">
            <li class="list-group-item" style="background-color: #222222; color: white;">Network Security | Data Security | Information Security | Penetration Testing and Ethical Hacking | Security
            Analysis & Assessments | Post Exploitation Hacking | Malware Analysis and Reverse Engineering |
            Cryptography | Computer and Hacking Forensics | WebApps | Social Engineering and Manipulation | Vulnerability
            Discovery/Scanning | Fuzzing | Advanced Data Protection (Virtualization) | Sandbox Methods | Security Audits</li>
          </ul>
        </div>


      </div>
    </div>
  </div>


  <div id="contact" class="container-fluid">
    <div class="row">

      <div id="headshot" class="col-md-6">
        <div id="headshot-container">

        </div>
      </div>

      <div id="contact-container" class="col-md-6" style="border-radius:2px;">
          <div id="contact-info" style="border-radius:2px;">

              <p>Thomas Jung</p>
              <hr>
              </br>
              <p>Cybersecurity Professional</p>
              <hr>
              </br>
              <p>thomas@jung.tech</p>
              <p>972-765-6092</p>

          </div>
      </div>

  </div>

</div>

</div> -->